{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="pageContainer">
    <div>
        <h1 class="titre">Zoo Arcadia</h1>
    </div>
    <img class="image" src="{{ asset('images/bottom-scratch.png') }}" alt="transition">
    <main class="container2">
        <article class="article1">
            <div class="descriptif">
                <h2 class="titre2">Le Zoo Arcadia, un lieu préservé pour s'émerveiller !</h2>
                <p class="texte">Niché au coeur d'une forêt de pins de 18 hectares, le Zoo Arcadia est aujourd'hui 
                l'un des sites touristiques les plus fréquentés de Bretagne. Chaque année, 600000 visiteurs 
                viennent contempler plus de 36 mammifères, oiseaux et reptiles représentant 10 espèces différentes.
                </p>
            </div>
            <div class="descriptif2">
                <div>
                    <h2 class="titre2">Tarifs</h2>
                    <p class="texte">Adulte : 22€<br> Enfant (3 à 12 ans) : 16€<br> Enfant (-3 ans) : gratuit</p>
                </div>
            </div>
            <div class="descriptif3">
                <div>
                    <h2 class="titre2">Venir au Zoo</h2>
                    <p class="texte">1 rue de la Forêt <br>35580 Paimpont</p>
                </div>
            </div>
        </article>
    </main>
    <img class="image" src="{{ asset('images/top-scratch.png') }}" alt="transition">
    <main class="plan">
        <h1 class="titrePlan">LE ZOO ARCADIA C'EST ...</h1>
        <div class="planGrid">
            <div class="plan1">
                <span class="contentPlan"><i class="fa-solid fa-paw"></i></span>
                <h2 class="titrePlanContent">900</h2>
                <p class="textePlan">animaux, 10 espèces différentes</p>
            </div>
            <div class="plan1">
                <span class="contentPlan"><i class="fa-sharp-duotone fa-solid fa-glasses"></i></span>
                <h2 class="titrePlanContent">600 000</h2>
                <p class="textePlan">visiteurs chaque année</p>
            </div>
            <div class="plan1">
                <span class="contentPlan"><i class="fa-sharp-duotone fa-solid fa-leaf"></i></span>
                <h2 class="titrePlanContent">25</h2>
                <p class="textePlan">programmes de conservation</p>
            </div>
            <div class="plan1">
                <span class="contentPlan"><i class="fa-sharp-duotone fa-solid fa-tree"></i></span>
                <h2 class="titrePlanContent">21</h2>
                <p class="textePlan">hectares arborés</p>
            </div>
    </main>
    <img class="image" src="{{ asset('images/bottom-scratch.png') }}" alt="transition" id="service">
    {% include 'service/index.html.twig' %}
     <img class="image-overlap" src="{{ asset('images/top-scratch.png') }}" alt="transition">
    <main id="habitats" class="container3">
        <div class="fondArea">
        <h1 class="titreArea">Les différents habitats</h1>
        <article class="area">
            <div class="area1">
                <a href="{{ path('area1') }}" class="area-link">
                    <h2 class="titre2">Tropical</h2>
                </a>
            </div>
            <div class="area2">
                <a href="{{ path('area2') }}" class="area-link">
                    <h2 class="titre2">Savane</h2>
                </a>
            </div>
            <div class="area3">
                <a href="{{ path('area3') }}" class="area-link">
                    <h2 class="titre2">Désert</h2>
                </a>
            </div>
        </article>
        </div>
         <img class="image-overlap-bottom" src="{{ asset('images/bottom-scratch.png') }}" alt="transition">
    </main>
{% include 'footer.html.twig' %}
</div>
{% endblock %}

