{% extends 'base.html.twig' %}

{% block title %}Monitoring index{% endblock %}

{% block body %}
    <h1>Monitoring index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Medicine</th>
                <th>Date</th>
                <th>State</th>
                <th>Report</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monitoring in monitorings %}
            <tr>
                <td>{{ monitoring.id }}</td>
                <td>{{ monitoring.medicine }}</td>
                <td>{{ monitoring.date ? monitoring.date|date('Y-m-d') : '' }}</td>
                <td>{{ monitoring.state }}</td>
                <td>{{ monitoring.report }}</td>
                <td>{{ monitoring.comment }}</td>
                <td>
                    <a href="{{ path('app_monitoring_show', {'id': monitoring.id}) }}">show</a>
                    <a href="{{ path('app_monitoring_edit', {'id': monitoring.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_monitoring_new') }}">Create new</a>
{% endblock %}
