{% extends 'admin/index.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('scripts/admin.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/adminDash.css') }}">
{% endblock %}

{% block title %}Animaux{% endblock %}

{% block content %}
<div>
        <a href="{{ path('app_adminAnimal_new') }}" class="btnActionA">Ajouter un Animal</a>
    </div>
<h1 class="titreAnimal">Liste des Animaux par Zone</h1>
   <div class="listeAnimauxContent">
    <div class="gridContainer">
        {% for area in areas %}
            <div class="gridItem">
                <h2>{{ area.name }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Race</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for animal in area.animals %}
                            <tr>
                                <td>{{ animal.name }}</td>
                                <td>{{ animal.race }}</td>
                                <td>
                                    {% for picture in animal.pictureAnimals %}
                                        <img src="{{ asset('uploads/' ~ picture.fileName) }}" alt="{{ animal.name }}" style="width: 70px; height: auto;"/>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('app_adminAnimal_edit', {'id': animal.id}) }}" class="btnActionAnimal">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun animal trouvé dans cette zone.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Aucune zone trouvée.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}