{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/adminDash.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/dash.css') }}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="titre">Statistiques de Santé des animaux</h1>

<div class="chart-container">
    <canvas id="animalChartGeneral" class="chart"></canvas>
</div>

<h1 class="titre">Statistiques de Santé par Zones</h1>
<div class="flex-container">
    <div>
        <h2 class="titre">Tropical</h2>
        <canvas id="animalChartTropical" class="chart"></canvas>
    </div>
    <div>
        <h2 class="titre">Savane</h2>
        <canvas id="animalChartSavane" class="chart"></canvas>
    </div>
    <div>
        <h2 class="titre">Désert</h2>
        <canvas id="animalChartDesert" class="chart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ctxGeneral = document.getElementById('animalChartGeneral');
        if (ctxGeneral) {
            var dataGeneral = {{ animalStats|json_encode()|raw }};
            var chartDataGeneral = Object.values(dataGeneral);

            new Chart(ctxGeneral.getContext('2d'), {
                type: 'pie',
                data: {
                    labels: Object.keys(dataGeneral),
                    datasets: [{
                        label: 'État des animaux',
                        data: chartDataGeneral,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }

        var ctxTropical = document.getElementById('animalChartTropical');
        if (ctxTropical) {
            var dataTropical = {{ animalTropical|json_encode()|raw }};
            var chartDataTropical = Object.values(dataTropical);

            new Chart(ctxTropical.getContext('2d'), {
                type: 'pie',
                data: {
                    labels: Object.keys(dataTropical),
                    datasets: [{
                        label: 'État des animaux - Zone Tropical',
                        data: chartDataTropical,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }

        var ctxSavane = document.getElementById('animalChartSavane');
        if (ctxSavane) {
            var dataSavane = {{ animalSavane|json_encode()|raw }};
            var chartDataSavane = Object.values(dataSavane);

            new Chart(ctxSavane.getContext('2d'), {
                type: 'pie',
                data: {
                    labels: Object.keys(dataSavane),
                    datasets: [{
                        label: 'État des animaux - Zone Savane',
                        data: chartDataSavane,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }

        var ctxDesert = document.getElementById('animalChartDesert');
        if (ctxDesert) {
            var dataDesert = {{ animalDesert|json_encode()|raw }};
            var chartDataDesert = Object.values(dataDesert);

            new Chart(ctxDesert.getContext('2d'), {
                type: 'pie',
                data: {
                    labels: Object.keys(dataDesert),
                    datasets: [{
                        label: 'État des animaux - Zone Désert',
                        data: chartDataDesert,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
    });
</script>

{% endblock %}
