{% extends 'admin/index.html.twig' %}

{% block title %}Modifier la Zone - {{ area.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/adminDash.css') }}">
{% endblock %}


{% block content %}
    <h1>Modifier la Zone {{ area.name }}</h1>
    {{ form_start(form, {
        'action': path('admin_area_edit', { id: area.id }), 
        'method': 'POST', 
        'attr': {
            'enctype': 'multipart/form-data', 
            'class': 'custom-form'
        }
    }) }}
    
    {% for field in form %}
        {% if field.vars.block_prefixes[0] != 'form_token' %}
            <div class="form-group">
                {{ form_label(field, null, {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(field, {'attr': {'class': 'form-error-message'}}) }}
            </div>
        {% else %}
            {{ form_widget(field) }}
        {% endif %}
    {% endfor %}

    <h3>Images existantes</h3>
    <div class="existing-images">
        {% for image in area.images %}
            <div class="image-entry">
                <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image actuelle" style="width: 150px; height: auto;">
                <label for="replace_image_{{ image.id }}">Remplacer l'image</label>
                <input type="file" name="replace_image_{{ image.id }}">
                <label for="remove_image_{{ image.id }}">
                    <input type="checkbox" name="remove_image_{{ image.id }}" value="1"> Supprimer
                </label>
            </div>
        {% endfor %}
    </div>
    
    <button type="submit" class="btnAction">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}
