{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/review.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/review.js') }}"defer></script>
{% endblock %}

{% block title %}Review{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<main class="mainReview">
    <h1 class="titreReview">Liste des Commentaire</h1>
    <div class="addReviewContent">
        <div class="addReview">
            <a href="{{ path('app_review_new') }}">Ajouter un commentaire</a>
        </div>
        <div class="reviewTotal">
            <p>Total d'avis : {{ totalReviews }}</p>
            <p>Note moyenne : {{ averageRating|number_format(2) }}</p>
        </div>
        <div class="starTitre">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="reviews-grid">
        {% for review in reviews %}
            <div class="review-card">
                <div class="review-header">
                    <h3>{{ review.name }}</h3>
                    <div class="review-stars">
                        {% for i in 1..5 %}
                            {% if i <= review.count %}
                                <span class="star {% if review.count == 1 %}red{% elseif review.count == 2 %}orange{% elseif review.count == 3 %}yellow{% elseif review.count == 4 %}lightgreen{% else %}green{% endif %}">&#9733;</span>
                            {% else %}
                                <span class="star">&#9734;</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr class="hrReview">
                <div class="review-content">
                    <p>{{ review.content }}</p>
                </div>
                <div class="review-footer">
                    <p>Date : {{ review.date ? review.date|date('Y-m-d') : '' }}</p>
                </div>
            </div>
        {% else %}
            <p>Aucun commentaire n'a été trouvé.</p>
        {% endfor %}
    </div>
</main>
{% include 'footer.html.twig' %}
{% endblock %}
