{{ form_start(form) }}

{{ form_row(form.medicine) }}
{{ form_row(form.date) }}
{{ form_row(form.state) }}
{{ form_row(form.recommandation) }}
{{ form_row(form.report) }}
{{ form_row(form.Animal) }}

<div id="foods-list">
    {{ form_label(form.foods) }}
    {{ form_errors(form.foods) }}
    <ul data-prototype="{{ form_widget(form.foods.vars.prototype)|e('html_attr') }}">
        {% for foodForm in form.foods %}
            <li>
                {{ form_row(foodForm.name) }}
                {{ form_row(foodForm.quantity) }}
            </li>
        {% endfor %}
    </ul>
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}