<div class="form-container">
    <div class="form-box">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.Animal) }}
        </div>
        <div class="form-group">
            {{ form_row(form.date) }}
        </div>
        <div class="form-group">
            {{ form_row(form.state, { 'label': 'Etat' }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.medicine, { 'label': 'Traitement' }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.recommandation) }}
        </div>
        <div id="foods-list">
            {{ form_label(form.foods) }}
            {{ form_errors(form.foods) }}
            <ul data-prototype="{{ form_widget(form.foods.vars.prototype)|e('html_attr') }}">
                {% for foodForm in form.foods %}
                    <li>
                        {{ form_row(foodForm.name) }}
                        {{ form_row(foodForm.quantity) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_row(form.report, { 'label': 'Enrichissement' }) }}
        </div>
        <button type="submit" class="btnActionNew">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
