{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/adminDash.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/veterinary.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/admin.js') }}" defer></script>
{% endblock %}

{% block title %}New RecommandationVeterinary{% endblock %}

{% block body %}
    <h1>Create new RecommandationVeterinary</h1>

    {{ include('recommandation_veterinary/_formR.html.twig') }}

    <a href="{{ path('app_recommandation_veterinary_index') }}">back to list</a>
{% endblock %}
