{% extends 'base.html.twig' %}

{% block title %}Zone Desert{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ asset('styles/area.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" defer></script>
    <script src="{{ asset('scripts/area.js') }}" defer></script>
{% endblock %}


{% block body %}
{% include 'header.html.twig' %}
<main class="mainArea">
    <div class="areaContent">
        <h1 class="areaTitre">{{ area.name }}</h1>
        <div class="areaPicture">
            {% for picture in pictures %}
                <img src="{{ asset('uploads/' ~ picture.path) }}" alt="Image for {{ area.name }}" class="areaPictureContent">
            {% endfor %}
        </div>
        <p class="areaDescription">{{ area.description }}</p>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for animal in animals %}
                <div class="swiper-slide">
                    <h3 class="animalName">{{ animal.name }}</h3>
                    <div class="animalImages">
                        {% for picture in animal.pictureAnimals %}
                            <img src="{{ asset('uploads/' ~ picture.fileName) }}" alt="{{ animal.name }}" class="animalImage">
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Aucun animal trouvé dans cette zone.</p>
            {% endfor %}
        </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    </div>    
    <a href="{{ path('app_home') }}" class="btnArea" id="backButton">Retour</a>
    </div>
    <div class="backgroundArea3"></div>
</main>
{% include 'footer.html.twig' %}
{% endblock %}