{% extends 'base.html.twig' %}

{% block title %}Zone Tropical{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/area.css') }}">
{% endblock %}


{% block body %}
{% include 'header.html.twig' %}
<main class="mainArea">
    <div class="areaContent">
        <h1 class="areaTitre">{{ area.name }}</h1>
        <p class="areaDescription">{{ area.description }}</p>
        <div class="areaPicture">
            {% for picture in pictures %}
                <img src="{{ asset('uploads/' ~ picture.path) }}" alt="Image for {{ area.name }}" class="areaPictureContent">
            {% endfor %}
        </div>
    </div>
</main>
{% include 'footer.html.twig' %}
{% endblock %}
